rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /writeOnly.png {
      allow read: if false;
      allow write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}